<div class="container ">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 edit-profile">
      <h1>Update your profile</h1>
      <%if @errors%>
        <%@errors.each do|error|%>
          <ul>
            <li><%=error%></li>
          </ul>
        <%end%>
      <%end%>
      <%= form_for(@user) do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <h4><%= f.label :change_user_icon %></h4>
        <%= f.file_field :avatar, as: :file %><br>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %><br>
    </div>
  </div>
</div>
