<div class="container profile">
  <div class="col-sm-12">
    <div id="img-profile" class="col-sm-3 margin-img img-rounded">
        <%= image_tag @user.avatar.url(:small)%>
      <div class=" img-center">
      </div>
    </div>
    <div class="text">
      <div class="col-sm-7 well margin-well">
          <%= link_to 'New Game', new_game_path, class:"btn btn-primary btn-danger" %>
        <% if current_user == @user %>
          <%= link_to 'Edit your profile', edit_user_path(@user), class: "btn btn-primary" %>
        <%end%>
        <h1><kbd><%= @user.username %>'s Stats:</kbd></h1>
        <ul>
          <% if @user.games.empty? %>
            <li>High Score:</li>
            <li>Words Per Minute:</li>
            <li>Accuracy:</li>
          <% else %>
            <li>High Score: <%= @user.high_score %></li>
            <li>Average Words Per Minute: <%= @user.average_wpm.round(2) %></li>
            <li>Average Accuracy: <%= @user.average_accuracy.round(2) %>%</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="past-score">
    <div class="col-sm-7 well margin-well">
      <h3><kbd><%= @user.username %>'s Previous Scores:</kbd></h3>
      <table class="table table-hover">
        <tr>
          <th>Score</th>
          <th>Words Per Minute</th>
          <th>Accuracy</th>
        </tr>
        <% if !@user.games.empty? %>
          <% @user.most_recent_games.each do |game| %>
            <tr>
              <td><%= game.score %></td>
              <td><%= game.wpm.round(2) %></td>
              <td><%= game.accuracy.round(2) %>%</td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <div id="global-score">
    <div class="col-sm-7 well margin-well">
      <h3><kbd>Global High Scores:</kbd></h3>
      <table class="table table-hover">
        <tr>
          <th>Player</th>
          <th>Score</th>
          <th>Words Per Minute</th>
          <th>Accuracy</th>
        </tr>
        <% @games.each do |game| %>
          <tr>
            <td><%= game.user.username %></td>
            <td><%= game.score %></td>
            <td><%= game.wpm.round(2) %></td>
            <td><%= game.accuracy.round(2) %>%</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
